[submodule "JSSoft.Library"]
	path = JSSoft.Library
	url = https://github.com/s2quake/JSSoft.Library.git
[submodule "JSSoft.Library.Commands"]
	path = JSSoft.Library.Commands
	url = https://github.com/s2quake/JSSoft.Library.Commands.git
[submodule "JSSoft.ModernUI.Framework"]
	path = JSSoft.ModernUI.Framework
	url = https://github.com/s2quake/JSSoft.ModernUI.Framework.git
[submodule "JSSoft.Fonts"]
	path = JSSoft.Fonts
	url = https://github.com/s2quake/JSSoft.Fonts.git
