[submodule "Ntreev.Library"]
	path = Ntreev.Library
	url = https://github.com/s2quake/Ntreev.Library.git
[submodule "Ntreev.Library.Commands"]
	path = Ntreev.Library.Commands
	url = https://github.com/s2quake/CommandLineParser.git
[submodule "JSSoft.Font"]
	path = JSSoft.Font
	url = https://github.com/s2quake/JSSoft.Font.git
[submodule "Ntreev.ModernUI.Framework"]
	path = Ntreev.ModernUI.Framework
	url = https://github.com/s2quake/Ntreev.ModernUI.Framework.git
